
@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');



*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto',sans-serif;
}

body{
    background-color: black;
    color: white;
}

.left{
    width: 25vw;
    padding: 10px;
}

.right{
    width: 75vw;}

.home ul li{
display: flex;
gap: 5px;
width: 14px;
list-style: none;
margin: 10px;
padding: top 14px;
font-weight: bold;
}

.nav i{
    padding: 10px;
}
.heading{
display: flex;
gap: 15px;
padding: top 14px;
padding: 23px 14px;
font-weight: bold;
align-items: center;
font-size: 13px;
}

.heading img{
    width: 30px;
}

.library{
    min-height: 50vh;
    position: relative;
}

.footer{
    display: flex;
    font-size: 10px;
    gap: 13px;
    position: absolute;
    bottom: 0;
    padding: 10px 0;
}
.footer a{
    color: grey;
}

.right{
    margin: 16px 0;
}

.header{
    display: flex;
    justify-content: space-between;
    background-color: rgb(34 34 34);
   
    
}

.header > *{
    padding: 20px;
}
.login{
    height: 6vh;
    width: 5vw;
    border-radius: 20px;
    border: none;
    font-weight: bold;
}

.signup{
    height: 6vh;
    width: 5vw;
    border: none;
    background: rgb(34 34 34);
    color:grey;
    font-weight: bolder;
}

.spotifyPlaylists{
    padding: 16px;
}

.cardContainer{
    margin: 30px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    
    max-height: 65vh;
    overflow-y: scroll;

}
.card{
    width: 180px;
    padding: 10px;
    border-radius: 5px;
    background-color: #252525;
    position: relative;
}

.card >*{
    padding-top: 10px;
}

.card img{
    width: 100%;
}



.play i{
    
    background-color: #1DB954;
    border-radius: 50%;
    color: #252525;
    font-size: 24px; 
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.play{
    position:absolute;
    top: 150px;
    right: 17px;

    opacity: 0;
    transform: translateY(20px);
    
    /* Smooth Transition */
    transition: all 0.5s ease-in-out;
}


.card:hover .play {
    opacity: 1;
    transform: translateY(0);
}

