.flex{
    display: flex;

}

.justify-center{
    justify-content: center;
}

.iten-center{
    align-items: center;
}

.border{
    border: 2px solid #f10e0e;
    margin: 3px;
}

.bg-black{
    background-color: black;
    color: white;
}

.invert{
    filter: invert(1);
}

.bg-grey{
    background-color: #121212;
}

.rounded{
    border-radius: 7px ;
}

.m-1{
    margin: 5px;
}

.p-1{
    padding: 10px;
}

/* Works in Chrome, Edge, and Safari */
::-webkit-scrollbar {
    width: 10px; /* Scrollbar width */
}

/* Scrollbar Track (Background) */
::-webkit-scrollbar-track {
    background: #121212; /* Dark background */
    border-radius: 10px;
}

/* Scrollbar Handle (Thumb) */
::-webkit-scrollbar-thumb {
    background: #656161; /* Spotify Green */
    border-radius: 10px;
}

/* Scrollbar Handle on Hover */
::-webkit-scrollbar-thumb:hover {
    background: #656161; /* Darker green on hover */
}
