*{
    padding: 0;
    margin: 0;
}

body{
    background-color: rgb(112, 90, 59);
}

.text-center{
    text-align: center;
    font-size: 3.5rem;

    font-family: Arial, Helvetica, sans-serif;
}

.container{
    display: block;
    text-align: center;
    margin: 0 auto;
}

.button{
    padding: 2.5rem;
    margin: 0.3rem;
    border-radius: 1rem;
    box-shadow: 3px 3px;
    cursor: pointer;
    font-size: 2rem;
    display: inline-block;
    text-align: center;
    justify-content: center;
}

.input-row {
    padding: 2rem 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    border-radius: 1rem;
    width: 100%;
    box-sizing: border-box;
}

.text {
    width:25rem;
    font-size: 2rem;
    margin: 1rem;
    border-radius: 0.5rem;
    box-shadow: 3px 3px;
    text-align: center;
}

#ACbutton{
    padding: 2.5rem;
    width: 12rem;
    margin: 0.3rem;
    border-radius: 1rem;
    box-shadow: 3px 3px;
    cursor: pointer;
    font-size: 2rem;
    display: inline-block;
    text-align: center;
    justify-content: center;
}



.rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    gap: 0.3rem;
}

.rating input {
    display: none;
}

.rating label {
    font-size: 5rem;
    color: gray;
    cursor: pointer;
    transition: color 0.3s;
}

.rating input:checked ~ label,
.rating label:hover,
.rating label:hover ~ label {
    color: gold;
}

@keyframes yippee {
    0% {
      transform: scale(1);
      fill: var(--fill);
      fill-opacity: 0;
      stroke-opacity: 1;
      stroke: var(--stroke);
      stroke-dasharray: 10;
      stroke-width: 1px;
      stroke-linejoin: bevel;
    }
  
    30% {
      transform: scale(0);
      fill: var(--fill);
      fill-opacity: 0;
      stroke-opacity: 1;
      stroke: var(--stroke);
      stroke-dasharray: 10;
      stroke-width: 1px;
      stroke-linejoin: bevel;
    }
  
    30.1% {
      stroke: var(--fill);
      stroke-dasharray: 0;
      stroke-linejoin: miter;
      stroke-width: 8px;
    }
  
    60% {
      transform: scale(1.2);
      fill: var(--fill);
    }
  }
